<h1><%=@task.user.username%></h1>

<br>


<h1><%= @task.name %></h1>
<%= @task.description %><br>
<%= @task.deadline %><br>
<br>
<a href="/tasks/<%= @task.id %>/edit">Edit Task</a>

<form action="/tasks/<%= @task.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete Task">
</form>
<a href="/users/show">My Tasks</a>
